.section-team {
    background-color: #F5F4FA;
    // padding-top: 95px;
    // padding-bottom: 95px;
    /* width:1600px; */
    /* padding-right: 215px; */
    /* padding-bottom: 100%; */
}

.team__name {
    // font-size: 36px;
    // line-height: 1.2;
    // text-align: center;
    // letter-spacing: 0.03em;
    color: #212121;
    @media (max-width: 767px) {
        font-family: "Roboto", sans-serif;
        font-size: 28px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: .03em;
        margin-bottom: 30px;
    }
    @media (min-width: 768px) {
        font-family: "Roboto", sans-serif;
        font-size: 28px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: .03em;
        margin-bottom: 30px;
    }
    @media (min-width: 1199px) {
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: .03em;
        margin-bottom: 50px;
    }
}

.team {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media (min-width: 768px) {
        justify-content: center;
            gap: 30px;
            display: flex;
            flex-wrap: wrap;
    }
    @media (min-width: 1199px) {
        flex-wrap: nowrap;
    }
}

.team__item:not(:last-child) {
    // margin-right: 30px;
    // @media (min-width: 768px) {
    //     margin-right: 0;
    // }
}

.team__item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    @media (max-width: 767px) {
        background: #fff;
        box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 30px;
    }
}

.div-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 10px;
}

.position-team {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #757575;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 16px;
}

.team-social__item {
    width: 44px;
    height: 44px;
}

.team-social__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    transition: background-color 250ms var(--cubic-bezier);
        &:hover,
        &:focus {
            background-color: #2196f3;
            color: #ffffff;
        }
}

// .team-social-link:hover,
// .team-social-link:focus {
//     background-color: #2196f3;
//     color: #ffffff;
// }

.team-social__link:hover .social__icon,
.team-social__link:focus .social__icon {
    /* color: #FFFFFF; */
    fill: #ffffff;
}